@font-face {
  font-family: "iconfont"; /* Project id 2561014 */
  src: url('//at.alicdn.com/t/font_2561014_ewlx6jq2xgj.woff2?t=1621501122272') format('woff2'),
       url('//at.alicdn.com/t/font_2561014_ewlx6jq2xgj.woff?t=1621501122272') format('woff'),
       url('//at.alicdn.com/t/font_2561014_ewlx6jq2xgj.ttf?t=1621501122272') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili-fill:before {
  content: "\eea8";
}

.icon-qq:before {
  content: "\e620";
}

